/** @format */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

.navbar__black {
  background-color: black;
}
.nav__logo {
  position: fixed;
  left: 20px;
  object-fit: contain;
  width: 80px;

  float: left;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  object-fit: contain;
  width: 30px;
  border-radius: 15px;
  float: right;
}
